<section id="tiles" class="tiles">
  <article>
    <span class="image">
      <img src="assets/images/HVL.jpg" alt="Huella verde laravel" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/JuanBunes/HVL" class="link">Huella Verde Base de Datos</a></h3>
      <p>Web application built with Laravel, managing a PostgreSQL database. It enables users to perform CRUD operations on products, including image management via Cloudinary through a dedicated API.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/HVR.jpg" alt="Huella verde react" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/JuanBunes/HVR" class="link">Huella Verde React</a></h3>
      <p>Web page developed with React and Bootstrap, facilitating the visualization of products loaded with "Huella Verde Base de Datos", featuring authentication through Auth0 to allow interactions between users through comments.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/HVAPI.jpg" alt="Huella Verde API" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/JuanBunes/HVnjs" class="link">Huella Verde API</a></h3>
      <p>Node.js API REST that offers various endpoints and services, seamlessly integrating authentication with Auth0</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/GymTech.jpg" alt="GymTech" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/MatiasPericolo/Fisica1-GymTech" class="link">GymTech</a></h3>
      <p>GymTech analyzes videos of gym exercises, identifying key body points to track movement over time. It calculates data such as speed, acceleration, energy expenditure, and approximate calories burned, helping users gain insights into their workout performance.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/recoder2.png" alt="Recoder" />
    </span>
    <header class="major">
      <h3><a href="www.github.com" class="link">Recoder</a></h3>
      <p>Recoder is a Python app that encodes, decodes, and visualizes text, video, and images. Using a custom algorithm and base64 encoding, it securely transforms media for safe storage and transmission. Recoder also allows easy visualization of encoded content.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/quicknotes.png" alt="Quick Notes" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/JuanBunes/Quick-Notes" class="link">Quick Notes</a></h3>
      <p>Quick Notes is a simple and convenient Chrome extension that allows you to create, save, and manage multiple notes directly within your browser. The extension features a user-friendly interface that resembles post-it notes, making it easy to jot down quick thoughts, reminders, or tasks.</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/ai.jpg" alt="AI" />
    </span>
    <header class="major">
      <h3><a href="www.github.com" class="link">AI</a></h3>
      <p>Coming Soon</p>
    </header>
  </article>

</section>
